{% extends 'music/base.html' %}

{% block body %}

  {% if all_songs %}


  <div class = "button">
    <a  class = "btn"><h3>HERE ARE THE SONGS ON STREAMIT </h3>   </a>
  </div>

  <ul>
      {% for song in all_songs %}
          <li><h3><a href="{% url 'music:detail' song.songid %}">{{ song.songtitle }}</a></h3></li>
      {% endfor %}
  </ul>
  {% else %}
      <h3>You don't have any albums</h3>
  {% endif %}


  {% if all_songs %}

  <div class = "butt">
      <a  class="btn"><h3>HERE ARE THE Videos ON STREAMIT</h3>   </a>
    </div>
  <ul>
      {% for video in all_videos %}
          <li><h3><a href="{% url 'music:videodetail' video.videoid %}">{{ video.videotitle }}</a></h3></li>
      {% endfor %}
  </ul>
  {% else %}
      <h3>You don't have any albums</h3>
  {% endif %}


{% endblock %}

<!-- /music/{{ song.songid } -->
